footer {
    background-color: $gray_blue;
    padding: 50px 0px 0px 0px;
    padding-bottom: 0px;

    h2 {
        @include h2_styles();
        color: rgb(255, 255, 255);
        margin-top: 0px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
    }


    input,
    textarea {
        display: block;
        width: 500px;
        padding: 10px;
        margin-bottom: 22px;
        border-radius: 10px;

        &::placeholder {
            font-family: Arial;
            color: #445162;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
        }
    }


    .btn {
        border-radius: 5px;
        background-color: #ffffff;
        width: 140px;
        height: 40px;
        font-family: Arial;
        color: #445162;
        font-size: 1em;
        font-weight: 700;

        text-transform: uppercase;
        margin-left: 190px;
        border-radius: 10px;
        
        &:hover {
            background-color: $light_gray;
        }
    }

    span {
        display: block;
        font-family: Arial;
        color: #ffffff;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        padding-left: 30px;
        margin-left: 50px;
        margin-bottom: 30px;
    }

    .skype {
        background: url(../img/skype_icon.png) no-repeat;
    }

    .icq {
        background: url(../img/skype_icon.png) no-repeat;
    }

    .mail {
        background: url(../img/skype_icon.png) no-repeat;
    }

    .tel {
        background: url(../img/skype_icon.png) no-repeat;
    }

    .social {
        background: url(../img/social_buttons.png);
        width: 240px;
        height: 42px;
        margin-left: 50px;
    }

    .copy {
        display: block;
        background-color: $light_gray;
        width: 100%;
        margin: 0px;
        margin-top: 30px;
        padding: 0px;
        font-family: Arial;
        color: #445162;
        font-size: 0.75em;
        font-weight: 400;
        letter-spacing: 0.025em;
        line-height: 2;
        text-align: center;
    }


}
