@mixin h2_styles() {
    font-family: Arial;
    color: #445161;
    font-size: 1.875em;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

@mixin p_styles() {
    margin-right: 90px;
    font-family: Arial;
    color: #333333;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
